Делаем игру для детей. Внести правки в  код игры. В основном сделать что то больше что то меньше загрузить новые спрайты их рисует дизайнер. добавить новые сцены. 

Group1

Scene1 Добавить в палитру цвета розовый, серый, коричневый



Scene2

Изменить положение спрайтов Увеличить ширину и расстояние между ними, оставить один объект взаимодействия. Увеличить размер спрайтов, перенести их вбок вправо. 

Добавить все цвета, которые есть в первом задании. Сделать родномную смену цветов объектов.



Scene3 разделить сцену на несколько со сменой количества спрайтов для взаимодействия



Scene4 Добавить большее количество цветов, все которые есть в первом задании;



Scene5 поменять фоновое изображение





Scene6 разделить сцену на несколько со сменой количества спрайтов для взаимодействия

Расширить область по которой передвигаются спрайты



Scene7 оставить один спрайт с слева и выбор спрайтов для взаимодействия разных цветов справа. Игрок должен выбрать

Добавить большее количество цветов, все которые есть в первом задании;



Group2

Scene1 Изменить фон



Scene2 Заменить несколько спрайтов. Сделать размер кнопок по меньше

Немного уменьшить размер поля с цифрами



Scene3

Изменить дизайн стрелок и поля с цифрами

Немного уменьшить размер поля, чтобы не перекрывало животных наполовину и самих животных перенести чуть выше

Со сменой животных менять фон, луг, ферма, поле и т.д



Scene4

Изменить размер цифр и кнопок.

уменьшить размер поля с цифрами, чтобы не закрывали другие спрайты на сцене.

Оставить снизу 5 цифр вперемешку, среди которых будет правильный ответ.





Scene5

Переставить спрайты так, чтобы они полностью помещались на экран, сейчас нижние обрезаны наполовину.

Надо немного исправить кор, вместо верхнего меняющегося табло оставить гореть одну цифру, в соответствии с заданием. После того, как игрок перенесет нужное количество спрайтов, должно пройти 3-4 секунды, чтобы задание зачлось. Если нет никаких больше действий, задание зачитается, если игрок начинает переносить больше спрайтов появляется текст неверно.



Group3

Scene1

Изменить размер спрайтов снизу

Сделать взаимодействие со спрайтом при нажатии задание объясняется еще раз



Scene2 Изменить фон добавить новые спрайты



Scene3

Менять фон в зависимости от того какой появляется спрайт животного

Изменить кор. несколько правильных ответов могут быть засчитаны



Scene4

создать несколько сцен с разным количеством спрайтов для взаимодействия

Увеличить размер спрайтов

Добавить новые спрайты

сделать немного тише звук





Scene5

Сделать динамическую камеру

Изменить размер спрайтов некоторые обрезаются



Scene6

Изменить размер спрайтов, на телефоне очень мелко получается.

Добавить несколько звуков 

Чтобы было более понятнее игроку спрайт добавить анимацию подергивания

уменьшить время действий пользователя некоторые действия нужно делать слишком долго



Scene7 Добавить сцену в стиле  dress up





















Scene8 Добавить сцены

разделить на уровни, 6-12-16 ячеек

На карточках картинки животных из игры
